#chart-container {
  width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
  min-height: 500px;
}

@media screen and (max-width: 767px) {
  #chart-container {
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
    min-height: 500px;
  }
}
